#################   .npmignore    #################
#################   data files    #################
data/
#################  distro files   #################
site/
#################  unit testing   #################
coverage/
.nyc_output/
.coveralls.*
.coverage
.coverage.*
.cache
coverage.xml
#################  dependencies   #################
*.swp
npm-debug.log
node_modules/
bower_components/
package-lock.json
#################    dev files    #################
test/
docs/
.babelrc
webpack.config.js
karma.config.js
################  version control  ################
.gitignore
.git/
#################    IDE files    #################
.DS_STORE
.netbeans
nbproject
.idea
.node_history
venv/
venv3/
#################   backup sync   #################
desktop.ini
*.gdoc
.dropbox
Thumbs.db